<!DOCTYPE html>
<html>
<head> 

    <link rel="stylesheet" href="./css/styles.css">

</head> 
<body>

    {{>header}}

<h4>This is 404 page by {{name}}</h4>
<p>{{error_message}}</p>
<h5>This is some content from index file from {{location}}</h5>


{{>footer}}


</body>
</html>