<!DOCTYPE html>
<html>
<head> 

    <link rel="stylesheet" href="./css/styles.css">

</head> 
<body>
    {{>header}}
<h4>This is about page by {{name}}</h4>
<h5>This is some content from index file from {{location}}</h5>
<p> This is some content for testing stuff for weather app</p>
<img src="img/photo.jpg">

{{>footer}}


</body>
</html>